<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (tap)="toBack()">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>登陆</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (tap)="makePhone()">
        联系客服
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class='logo'>
    <img src='/assets/images/logo.gif'>
  </div>
  <ion-list padding lines='full'>
    <ion-item>
      <ion-input type="text" placeholder='用户名'> </ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder='密码'> </ion-input>
    </ion-item>
    <ion-item lines='none' class="other">
      <span (click)="forgetPass()" slot='start'>忘记密码</span>
      <span (click)="newUser()" slot='end'>新用户注册</span>
    </ion-item>
    <div class="loginBtn">
      <ion-button color="danger" expand="block">登陆</ion-button>
    </div>

  </ion-list>

</ion-content>