<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wap">
    <div class="left">
      <ion-list lines='full'>
        <ion-item *ngFor="let lis of left_lists">
          <ion-label>{{lis}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="right">
      <ion-grid fixed>
        <ion-row>
          <ion-col size='4' *ngFor="let item of right_lists">
            <img [src]='item.pic'>
            <p style="text-align:center">{{item.title}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid fixed>
        <ion-row>
          <ion-col size='4' *ngFor="let item of right_lists">
            <img [src]='item.pic'>
            <p style="text-align:center">{{item.title}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid fixed>
        <ion-row>
          <ion-col size='4' *ngFor="let item of right_lists">
            <img [src]='item.pic'>
            <p style="text-align:center">{{item.title}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

  </div>



</ion-content>