.wap {
    height: 100%;
    display: flex;

    .left {
        width: 8rem;
        height: 100%;
        overflow-y: auto;
        flex-shrink: 0;

        ion-label {
            font-size: 1.2rem
        }
    }

    .right {
        flex-grow: 1;
        overflow-y: auto;
    }
}