<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <span class="iconfont24">&#xe69a;</span>
    </ion-buttons>

    <ion-searchbar placeholder="请输入关键词" animated (tap)="toSearch()"></ion-searchbar>

    <ion-buttons slot="end" class="message">
      <span class="iconfont24">&#xe61c;</span>
      <ion-badge color="danger" class="badge">13</ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- pager='true'，显示分页。 -->
  <ion-slides pager='false' #slides [options]="slideOpts" (ionSlideTouchEnd)="ionSlideTouchEnd($event)"
    (ionSlideTap)="ionSlideTap($event)">
    <ion-slide *ngFor="let item of listSlide">
      <img [src]='BaseUrl+item.pic'>
    </ion-slide>
  </ion-slides>
  <ion-button expand='block' color="primary" (click)='emitterAct()'>使用 EventEmitter3</ion-button>
  <div class="h_title">
    猜你喜欢
  </div>
  <ion-segment scrollable='true'>
    <ion-segment-button *ngFor="let item of hotList" class="segment">
      <img [src]='BaseUrl+item.s_pic'>
    </ion-segment-button>
  </ion-segment>

  <div class="h_title">
    商品列表
  </div>
  <!-- 12分栅格 -->
  <ion-grid fixed>
    <ion-row>
      <ion-col size='6' *ngFor="let item of lists">
        <img [src]='BaseUrl+item.pic'>
        <p style="text-align:center">{{item.title}} ￥{{item.price}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>