ion-checkbox {
    --size: 1.5rem
}

ion-col {
    --ion-grid-column-padding: 0
}

ion-grid {
    --ion-grid-padding: 0;
}

.wap_row {
    padding: .4rem 0;
    border-bottom: .1rem solid rgb(226, 223, 223);
}

.forCheckbox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: .4rem;

    ion-label {
        padding: 0;
        font-size: 1rem;
    }
}

.prd_img {
    width: 100%;
    height: 100%;
    padding: .2rem;
    border: 1px solid rgb(241, 239, 239);
}

.right_info {
    padding: 0 .3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    font-size: 1.4rem;
    color: rgb(238, 42, 42);

    span:nth-child(1) {
        font-size: 1rem;
        text-indent: .5rem;
        letter-spacing: -.2rem
    }

    span:nth-child(2) {
        font-size: 1.4rem;
    }

    span:nth-child(3) {
        font-size: 1rem;
    }
}

.set_num {
    text-align: center;
    border: 1px solid rgb(235, 233, 233);
    box-sizing: border-box;

    .num_act {
        background: rgb(240, 238, 238);
        font-size: 1.4rem;
        line-height: 1.3rem;
        cursor: pointer;
    }

    .num_input {
        padding: .2rem 0;
        text-align: center
    }
}

.item_top {
    padding: 0 .3rem;

    .item_top_act {
        text-align: end;
        padding-right: .3rem;
        color: red;
        font-size: 1rem
    }
}

.total_money {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.jiesuan {
    text-align: end;

    ion-button {
        margin: 0;
    }

    .totalNum {
        font-size: 1rem;
    }
}