<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (tap)="toBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar placeholder="请输入关键词" animated [(ngModel)]='searchText'></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button color="dark" (tap)="doSearch()">
        搜索
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="!page">
    <div class="searchToolbar">
      <p (click)="searchType(1)" [ngClass]="bk==1?'setBk':''">
        综合
      </p>
      <p (click)="searchType(2)" [ngClass]="bk==2?'setBk':''">
        销量
      </p>
      <p (click)="searchType(3)" [ngClass]="bk==3?'setBk':''">
        价格
      </p>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div *ngIf="page; else page1">
    <h3>热搜</h3>
    <div class="hotSearch">
      <span *ngFor="let text of searchList" (tap)="showSearch(text)">{{text}}</span>
    </div>
    <h3>历史搜索</h3>
    <ion-list>
      <ion-item *ngFor="let text of searchList" (tap)="showSearch(text)">{{text}}</ion-item>
    </ion-list>
  </div>

  <ng-template #page1>
    <app-product-list [cid]='cid' [list]='list' #pageChild></app-product-list>
  </ng-template>

</ion-content>