<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (tap)="toBack()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-searchbar placeholder="请输入关键词" animated [(ngModel)]='searchText'></ion-searchbar>


    <ion-buttons slot="end">
      <ion-button color="dark" (tap)="doSearch()">
        搜索
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="page;else page1">
    <h3>热搜</h3>
    <div class="hotSearch">
      <span *ngFor="let text of searchList" (tap)="showSearch(text)">{{text}}</span>
    </div>
    <h3>历史搜索</h3>
    <ion-list>
      <ion-item *ngFor="let text of searchList" (tap)="showSearch(text)">{{text}}</ion-item>
    </ion-list>
  </div>
  <div #page1>
    <h3>热搜</h3>
    <div class="hotSearch">
      <span *ngFor="let text of searchList" (tap)="showSearch(text)">{{text}}</span>
    </div>
    <h3>历史搜索</h3>
    <ion-list>
      <ion-item *ngFor="let text of searchList" (tap)="showSearch(text)">{{text}}</ion-item>
    </ion-list>
  </div>

</ion-content>